@font-face {
  font-family: "Avenir-medium";
  src: url("Avenir/Avenir Regular/Avenir Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-black";
  src: url("Avenir/Avenir Black/Avenir Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-light";
  src: url("Avenir/Avenir Light/Avenir Light.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-heavy";
  src: url("Avenir/Avenir Heavy/Avenir Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-book";
  src: url("Avenir/Avenir Book/Avenir Book.ttf") format("truetype");
}
.p-1 {
  padding: 1vw;
}

.pt-2 {
  padding-top: 2vw;
}

.pb-2 {
  padding-bottom: 2vw;
}

.p-2 {
  padding: 2vw;
}

.p-3 {
  padding: 3vw;
}

.bg-lightblue {
  background-color: #f3f5fd;
}

.bg-white {
  background-color: white;
}

.bg-orange {
  background-color: #eb8b2d;
}

.bg-ash {
  background-color: rgb(207, 207, 207);
}

.color-orange {
  color: #eb8b2d;
}

.color-navyblue {
  color: #2a345e;
}

.color-lightblack {
  color: #384150;
}

.color-gray {
  color: #8994a5;
}

.color-black {
  color: #000001;
}

.color-blue {
  color: #5090f8;
}

.color-white {
  color: white;
}

.br-4 {
  border-radius: 4px;
}

.br-12 {
  border-radius: 12px;
}

.br-15 {
  border-radius: 15px;
}

.br-16 {
  border-radius: 16px;
}

.br-20 {
  border-radius: 15px;
}

.btn-size {
  width: 106px;
  height: 41px;
  border-radius: 4px;
  font-size: 18px;
}

.w-2 {
  width: 2vw;
}

.w-7 {
  width: 7vw;
}

.w-40 {
  width: 40vw;
}

.w-20px {
  width: 20px;
}

.w-72 {
  width: 72px;
}

.w-25px {
  width: 25px;
}

.w-533px {
  width: 533px;
}

.w-1170px {
  width: 1170px;
}

.min-h-fscreen {
  height: 100vh;
}

.max-h-fscreen {
  height: 100vh;
}

.h-fscreen {
  height: 100vh;
}

.h-72 {
  height: 72px;
}

.lh-20 {
  line-height: 20px;
}

.lh-25 {
  line-height: 20px;
}

.lh-50 {
  line-height: 60px;
}

.lh-60 {
  line-height: 60px;
}

.font-medium {
  font-family: "Avenir-medium";
}

.font-bold {
  font-family: "Avenir-black";
}

.font-light {
  font-family: "Avenir-light";
}

.font-heavy {
  font-family: "Avenir-heavy";
}

.font-book {
  font-family: "Avenir-book";
}

.fs-52 {
  font-size: 52px;
}

.fs-42 {
  font-size: 42px;
}

.fs-36 {
  font-size: 36px;
}

.fs-32 {
  font-size: 32px;
}

.fs-28 {
  font-size: 24px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

* {
  margin: 0;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

.windowdisplayhidden {
  display: none;
}

.container {
  width: min(85vw, 1170px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logoimg {
  margin: 1vw auto;
}

.pages {
  display: flex;
  flex-direction: row;
  width: 53vw;
  justify-content: space-around;
  align-items: center;
}

.headeritem {
  position: relative;
  display: inline-block;
}
.headeritem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25vw;
  width: 100%;
  height: 0.25vw;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 1s ease;
}
.headeritem:hover::after {
  transform: scaleX(1);
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signin {
  border: 1px solid #5090f8;
  color: #5090f8;
  background-color: white;
  margin: 0 1vw 0 1vw;
  transition: background-color 0.7s ease;
}
.signin:hover {
  background-color: #5090f8;
  color: white;
  cursor: pointer;
}

.register {
  background-color: orange;
  border: none;
  cursor: pointer;
}
.register:hover {
  opacity: 0.7;
}

.frame1 {
  background-image: linear-gradient(1deg, #f3f5fd 6%, rgba(243, 245, 253, 0) 46%);
  padding-bottom: 10vh;
}

.heroContainer {
  width: min(85vw, 1170px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.isHeroContainerImg {
  width: min(90vw, 600px);
}

.frame2 {
  width: min(85vw, 1170px);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-2 {
  margin: 12vh 0 12vh 0;
  display: flex;
  background-color: #f3f5fd;
  box-shadow: 0 0 8px 0 rgba(219, 225, 233, 0.25);
  align-items: center;
}

.hero-2content {
  width: 545px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vw;
}

.hero-2img {
  width: 40%;
}

.frame3 {
  width: min(85vw, 1170px);
  margin: 0 auto;
}

.grid {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1vw;
}

.card {
  box-shadow: 0 0 20px 0 rgba(137, 148, 165, 0.08);
}

.frame4 {
  width: min(85vw, 1170px);
  margin: 0 auto;
  margin-top: 5vh;
}

.hero-4 {
  display: grid;
  margin-top: 3vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}

.emojiheading {
  display: flex;
  flex-direction: row;
}

.heading1 {
  margin-left: 1vw;
}

.statement {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.arrow {
  margin-right: 1vw;
}

.elementblogimg {
  width: 100%;
}

.frame5 {
  margin-top: 8vh;
}

.grid-2 {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.card-2 {
  border: solid 1px #dbe1e9;
}

.lineClamp {
  /* Adjust based on your line height */
  max-height: 3em; /* Adjust based on the number of lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-2content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22vh;
}

.readmore {
  color: rgb(122, 199, 212);
}

.readmorearrow {
  transform: translateX(1px);
}

.readmorebtn {
  display: flex;
}
.readmorebtn:hover .readmorearrow {
  transform: translatex(10px);
}
.readmorebtn:hover .readmore {
  color: rgb(74, 151, 206);
}

.buttoncontainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3vh;
}

.blog-btn {
  border-color: #5090f8;
  padding: 14px 39px;
}

.frame7 {
  background-image: linear-gradient(294deg, #2a345e 100%, #4b67b1 1%);
  margin-top: 8vh;
}

.hero7 {
  width: min(85vw, 1170px);
  margin: 0 auto;
  display: flex;
  height: 80vh;
  align-items: center;
}

.hero7content {
  margin: 2vw 0 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
}

.hero7img {
  height: 90%;
}

.frame8 {
  width: min(85vw, 1170px);
  margin: 0 auto;
  margin-top: 5vw;
}

.frame8row {
  margin-top: 3vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.f8item {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}

.elementimg {
  margin: 0 auto;
}

.f8oneimg {
  background-image: linear-gradient(to bottom, #e2edff, #fff);
  display: flex;
  align-items: center;
}

.f8onecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

.frame9 {
  width: min(85vw, 1170px);
  margin: 0 auto;
}

.frame9line1 {
  margin: 2vw 0 2vw 0;
}

.contact-btn {
  margin-bottom: 5vw;
}

.f9btn2 {
  cursor: pointer;
  border: 1px solid rgb(97, 97, 243);
  background-color: white;
  margin: 0 1vw 0 1vw;
  padding: 14px 35px 14px 31px;
  color: rgb(97, 97, 243);
  transition: all 0.3s ease;
}
.f9btn2:hover {
  background-color: rgb(97, 97, 243);
  color: white;
}

.f9btn1 {
  padding: 14px 22px 14px 24px;
  border: none;
}
.f9btn1:hover {
  opacity: 0.7;
}

.frame10 {
  width: min(85vw, 1170px);
  margin: 0 auto;
  padding: 10vw 0 8vw 0;
  position: relative;
}

.hero10 {
  background-image: linear-gradient(to left, #395293 100%, #2f72df 1%);
  border-radius: 25px;
  padding: 3vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
}

.store-btn {
  display: flex;
  gap: 2vw;
}

.positionimg {
  position: absolute;
  right: 10%;
  bottom: -3%;
}

.footerrow {
  width: min(85vw, 1170px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 4vw 0 3vw 0;
}

.footeritem {
  line-height: 2;
  position: relative;
  display: inline-block;
}
.footeritem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.3vw;
  width: 100%;
  height: 0.1vw;
  background-color: rgb(205, 204, 202);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 1s ease;
}
.footeritem:hover::after {
  transform: scaleX(1);
}

.helpcenterdiv {
  margin-top: 2vw;
}

.footeritemblue {
  color: rgb(114, 176, 238);
}

.mobilefooterbottom {
  display: none;
}

.lastrow {
  width: min(85vw, 1170px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socialemojies {
  cursor: pointer;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vw;
}

@media only screen and (max-width: 600px) {
  .mobiledisplayhidden {
    display: none;
  }
  .mobileview {
    width: 95vw;
  }
  .mob-flex-col {
    display: flex;
    flex-direction: column;
  }
  .mob-p-3 {
    padding: 3vw;
  }
  .fs-52 {
    font-size: 42px;
  }
  .fs-42 {
    font-size: 28px;
  }
  .fs-32 {
    font-size: 20px;
  }
  .fs-36 {
    font-size: 20px;
  }
  .fs-28 {
    font-size: 18px;
  }
  .fs-24 {
    font-size: 16px;
  }
  .fs-20 {
    font-size: 14px;
  }
  .fs-16 {
    font-size: 12px;
  }
  .mob-w-100 {
    width: 100%;
  }
  .mob-Mtop-1 {
    margin-top: 1vw;
  }
  .mob-Mtop-2 {
    margin-top: 2vw;
  }
  .mob-Mtop-3 {
    margin-top: 3vh;
  }
  .mob-Mtop-5 {
    margin-top: 5vh;
  }
  .hamburger-menu {
    display: block;
    position: fixed;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
    width: 0;
    z-index: 3;
    transition: width 0.5s ease;
  }
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes close {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .hamburger-menu__header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .hamburger-menu__header--logo {
    width: 100px;
  }
  .smallarrow {
    transform: rotate(30deg);
  }
  .hbele {
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }
  .hbele {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #dcdee2;
  }
  .hbele:first-child:focus {
    color: #eb8b2d;
  }
  .bgchangelangcontent {
    margin-top: 4vw;
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .bgchangelangbtn {
    margin-left: 5vw;
    margin-top: 5vw;
    width: 20vw;
  }
  .hdelementheaditem {
    font-size: 16px;
    color: #384150;
    font-family: "Avenir-heavy";
    width: 90%;
    margin: 0 auto;
  }
  .hbelementitem {
    color: #8994a5;
    font-size: 16px;
    font-family: "Avenir-medium";
    width: 80%;
    margin: 0 auto;
  }
  .headerMobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: white;
    z-index: 2;
    border-bottom: 0.5px solid rgb(234, 232, 232);
  }
  .slidericon {
    position: absolute;
    cursor: pointer;
    left: 30px;
  }
  .logomobileicon {
    width: 75px;
  }
  .heroContainer {
    flex-direction: column-reverse;
    width: 90vw;
    height: auto;
  }
  .isHeroContainerImg {
    margin-top: 10vh;
  }
  .isHeroContainerContent {
    text-align: center;
  }
  .isHeroContainerContent :nth-child(2) {
    font-size: 28px;
  }
  .frame2 {
    display: flex;
  }
  .hero-2 {
    flex-direction: column;
    padding: 5vw;
  }
  .hero-2content {
    gap: 0.5vw;
  }
  .hero-2line2 {
    font-size: 3.5vw;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
  }
  .elementimg {
    width: 40px;
  }
  .hero-4 {
    gap: 6vw;
  }
  .slider-wrapper {
    display: block;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .sliderheading {
    width: 95vw;
    margin: 0 auto;
  }
  .slides-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  .slide {
    flex: 1 0 100%;
  }
  .slidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  .slidecard {
    border-radius: 3rem;
    width: 95%;
  }
  .sliderheadingbtn {
    display: flex;
    justify-content: center;
    margin: 5vw;
  }
  .frame7 {
    height: 95vh;
  }
  .hero7content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-btn {
    display: flex;
    justify-content: center;
  }
  .hero10 {
    background-image: linear-gradient(to bottom, #395293 100%, #2f72df 1%);
    text-align: center;
    justify-content: start;
    height: 80vh;
  }
  .positionimg {
    z-index: 1;
    bottom: -1%;
    left: 10%;
  }
  .positionimgsize {
    width: 50vw;
  }
  .mobilefooter {
    display: block;
  }
  .mobilefooterbottom {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    color: #8994a5;
  }
  .socialemojies {
    cursor: pointer;
    width: 50%;
    margin: auto;
  }
  .footericon {
    width: 6vw;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    width: 98vw;
    justify-content: space-between;
  }
  .logo {
    width: 15vw;
  }
  .logoimg {
    width: 15vw;
  }
  .heroContainer {
    flex-direction: column-reverse;
    justify-content: start;
  }
  .isHeroContainerImg {
    margin-top: 5vh;
  }
  .hero7 {
    flex-direction: column;
  }
  .hero7img {
    width: 80%;
  }
  .positionimg {
    right: -5vw;
  }
  .positionimgsize {
    width: 70%;
  }
}/*# sourceMappingURL=styles.css.map */